In [6]:
def multiplication_by_2(x):
    return x*2
multiplication_by_2(2)

4

In [9]:
def division_by_2(x):
    return x/2
division_by_2(11)

5.5

In [11]:
#different way to return a function
#return can only be used once in a function. if we tend to use it another time it will only return the output of the 
#first return

def multiplication_by_2(x):
    result = x*2
    return "output"
    return result
multiplication_by_2(2)

'output'

In [12]:
#different way to return a function
#return can only be used once in a function. if we tend to use it another time it will only return the output of the 
#first return therefore we use print.
def multiplication_by_2(x):
    result = x*2
    print("outcome")
    return result
multiplication_by_2(2)

outcome

4

In [38]:
#funtion within funtion
def wage(w_hours):
    return w_hours*25
def with_bonus(w_hours):
    return wage(w_hours)+50
wage(8) , with_bonus(10)

(200, 300)

In [37]:
#conditions within the function
def add_10(x):
    if(x>=100):
        x= x+10
        return x
    else:
        print("save more")
add_10(50)

save more

In [34]:
#more than one parameter in a function
def substract_bc(a,b,c):
    print("Value of a is: ",a)
    print("Value of b is: ",b)
    print("Value of c is: ",c)
    result = a+b*c
    return result
substract_bc(10,20,40) 
#0r
substract_bc(a=10,b=20,c=40)

Value of a is:  10
Value of b is:  20
Value of c is:  40
Value of a is:  10
Value of b is:  20
Value of c is:  40

810

In [1]:
def distance_from_zero(x):
    if(type(x) == str):
       print("Not possible")
    else:
        return abs(x)
distance_from_zero(-19)

19

In [1]:
#DICTIONARY
Menu = {'meal_1':'Spaghetti', 'meal_2':'Fries', 'meal_3':'Hamburger', 'meal_4':'Lasagna'}
Menu['meal_2'] #printing 2nd meal
Menu['meal_5']="soup" #adding meal 5
Menu['meal_3']="cheeseburger"
Dessert= ['Pancakes', 'Ice-cream', 'Tiramisu']
Menu['meal_6']= Dessert
Menu

{'meal_1': 'Spaghetti',
 'meal_2': 'Fries',
 'meal_3': 'cheeseburger',
 'meal_4': 'Lasagna',
 'meal_5': 'soup',
 'meal_6': ['Pancakes', 'Ice-cream', 'Tiramisu']}

In [6]:
x=1
while(x<=30):
    print(x,end=",")
    x=x+2

1,3,5,7,9,11,13,15,17,19,21,23,25,27,29,

In [9]:
list(range(20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [12]:
list(range(0,31,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [14]:
#range with loops and conditional statements
for i in range(1,11):
    print(2*i,end=" ")

2 4 6 8 10 12 14 16 18 20

In [5]:
#printing odd numbers with range
for i in range(1,31):
    if(i%2==0):
        print("Even",end=" ")
    else:
        print(i,end=" ")

1 Even 3 Even 5 Even 7 Even 9 Even 11 Even 13 Even 15 Even 17 Even 19 Even 21 Even 23 Even 25 Even 27 Even 29 Even

In [34]:
nums = [1, 35, 12, 24, 31, 51, 70, 100]
def count(num):
    temp= 0
    index = 0
    while index < len(nums):
        if nums[index] < 20:
            temp += 1
        index += 1   
    return temp
count(nums)

2

In [46]:
#loops in dictionary
prices={
    "spaghetti":4,
    "lasagna":5,
    "hamburger":2
}
quantity={
    "spaghetti":6,
    "lasagna":10,
    "hamburger":0
}

money_spent=0
for i in prices:
    money_spent=prices[i]*quantity[i]+money_spent
print (money_spent)

74

In [55]:
#loops in dictionary
prices={
    "spaghetti":4,
    "lasagna":5,
    "hamburger":2
}
quantity={
    "spaghetti":6,
    "lasagna":10,
    "hamburger":0
}

money_spent=0
for i in quantity:
    if(prices[i]>=5):
         money_spent=prices[i]*quantity[i]+money_spent
    else:
        money_spent=money_spent
print(money_spent)

50

In [16]:
#pandas
import pandas as pd
product=['A','B','C','D']
print(product)

['A', 'B', 'C', 'D']

In [17]:
type(product)

list